* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}

.wrapper {
    max-width: 2350px;
    width: 92.5%;
    margin: 0 auto;
}

.upper-case {
    text-transform: uppercase;
}

.lower-case {
    text-transform: lowercase;
}

.capital {
    text-transform: capitalize;
}

.sign-in {
    display: block;
    position: relative;
    margin-left: auto;
}

header a:hover {
    text-decoration: underline;
}

.sign-in::before {
    font-family: "Font Awesome 5 Free";
    position: absolute;
    content: "\f0ac";
    vertical-align: middle;
    font-weight: 900;
    left: -37px;
    color: white;
    font-size: 19px;
}

.block {
    display: block;
}

.wix-logo {
    width: 78px;
    height: 33px;
}

.wix-link {
    vertical-align: baseline;
}

.wix-link-2:hover {
    text-decoration: underline;
}

header ul {
    margin-left: 30px;
}

header ul li{
    display: inline-block;
    margin: 0px 12px;
    position: relative;
    top: -7px;
}

.drop-down::after {
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    vertical-align: middle;
    padding-left: 6px;
    font-weight: 600;
    font-size: 13px;
}

header a {
    color: rgb(237,239,234);
    font-size: 16.5px;
    text-transform: capitalize;
    font-weight: 100;
}

.sign-in {
    color: rgb(118, 118, 129);
    background-color: white;
    border-radius: 38px;
    padding: 10px 25px;
    margin-right: 15px;
    position: relative;
    top: -7px;
}

header .wrapper {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 26px 0;
    box-sizing: border-box;
    background-color: transparent;
}

header {
    position: absolute;
    width: 100%;
}

.get-started {
    text-align: center;
    background-color: rgb(103, 188, 228);
}

.get-started a:hover {
    text-decoration: underline;
}

.get-started h2 {
    padding-top: 139px;
    padding-bottom: 63px;
    font-size: 41px;
    text-transform: capitalize;
    color: white;
}

.get-started a {
    color: rgb(71, 134, 166);
    background-color: white;
    padding: 16px 42px;
    border-radius: 38px;
    font-size: 21px;
    text-transform: capitalize;
    font-weight: 600;
}

.get-started .wrapper {
    padding-bottom: 436px;
}

.freedom-to-create ul {
    display: flex;
    list-style: none;
    padding-top: 162px;
    padding-bottom: 188px;
}

.freedom-to-create li {
    flex: 1;
    padding-left: 15px;
}

.freedom-to-create li:nth-child(2) {
    padding-left: 157px;
}

.freedom-to-create h2 {
    text-transform: capitalize;
    font-size: 72px;
    font-weight: 700;
}

.freedom-to-create p {
    line-height: 2;
    font-size: 20px;
    padding-bottom: 36px;
    color: rgb(65, 60, 60);
}

.get-started-2 {
    color: black;
    font-size: 20px;
    text-transform: capitalize;
    padding-bottom: 2px;
    border-bottom: 2px solid gray;
    position: relative;
    font-weight: 500;
}

.get-started-2::before {
    font-family: "Font Awesome 5 Free";
    position: absolute;
    content: "\f054";
    vertical-align: middle;
    font-weight: 900;
    right: -15px;
}

.get-started-2:hover {
    top: -10px;
}

.description .wrapper {
    box-sizing: border-box;
    width: 100%;
}

.description ul {
    list-style-type: none;
    box-sizing: border-box;
}

.description ul h2 {
    font-size: 46px;
    font-weight: 700;
    text-transform: capitalize;
}

.description ul .sub-heading {
    display: block;
    font-size: 42px;
    font-weight: 100;
    text-transform: capitalize;
}

.description ul p {
    padding: 25px 0;
    font-size: 16px;
    line-height: 1.9;
    color: rgb(65, 60, 60);
}

.description ul .get-started-container {
    padding-top: 15px;
}

.description-spacing {
    padding: 105px 105px;
}

.design-freedom {
    background-image: url(image/change-image.PNG);
    background-size: cover;
    background-position: center;
    text-indent: -9999px;
}

.first-layer {
    display: flex;
    border: 2px solid black;
    border-bottom: none;
    margin: 0 5px;
    list-style-type: none;
}

.first-layer li {
    flex: 1;
}

.second-layer-1 {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.second-layer-1 li {
    flex: 1;
}

.add-section {
    background-image: url(image/add-section.PNG);
    background-position: center;
    background-size: cover;
    padding-bottom: 383px;
    width: 100%;
}

.add-section {
    background-image: url(image/add-section.PNG);
    background-position: center;
    background-size: cover;
    padding-bottom: 383px;
    text-indent: -9999px;
    min-height: 29px;
}

.second-layer-2 {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-left: none;
}

.second-layer-2 li {
    flex: 1;
}

.code {
    background-image: url(image/fetch.PNG);
    background-position: center;
    background-size: cover;
    padding-bottom: 383px;
    text-indent: -9999px;
    min-height: 29px;
}

.second-layer {
    display: flex;
    flex-basis: 0;
    margin: 0 5px;
}

.powerful-feature h2 {
    text-transform: capitalize;
    font-size: 73px;
    text-align: center;
    font-weight: 700;
    padding: 210px 0 27px;
} 

.powerful-feature figcaption {
    text-transform: capitalize;
    font-size: 23px;
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 30px;
}

.powerful-feature .img-description {
    display: block;
    width: 358px;
    font-size: 15px;
    color: rgb(94, 87, 87);
}

.powerful-feature ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin: 30px 9%;
}

.powerful-feature ul li:nth-child(2) {
    padding-top: 74px;
}

.see-all-feature {
    color: black;
    text-transform: capitalize;
    font-size: 45px;
    font-weight: bolder;
    border-bottom: 3px solid black;
    padding-bottom: 2px;
    position: relative;
}

.see-all-feature::before {
    font-family: "Font Awesome 5 Free";
    position: absolute;
    content: "\f101";
    vertical-align: middle;
    font-weight: 900;
    right: -31px;
    top: 13px;
    font-size: 30px;
}

.see-all-feature:hover {
    top: -10px;
}

.see-all-feature-container {
    text-align: center;
    padding: 100px 0 150px;
}

.see-all-feature-container span {
    font-size: 35px;
}

.manage-your-business .wrapper {
    width: 100%;
}

.manage-your-business h2 {
    text-transform: capitalize;
    font-size: 43px;
    padding-bottom: 33px;
}

.manage-your-business p {
    font-size: 21px;
    line-height: 2;
    padding-bottom: 64px;
    width: 563px;
    color: rgb(19,10,9);
}

.manage-your-business ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.manage-your-business li div {
    padding-bottom: 116px;
}

.manage-your-business ul li:nth-child(1){
    padding-left: 8%;
}

.manage-your-business img {
    height: 634px;
    width: 470px;
}

.create-free-website {
    background-color: rgb(82, 109, 216);
}

.create-free-website .wrapper {
    box-sizing: border-box;
    color: white;
}

.learn-more {
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    padding-bottom: 2px;
    border-bottom: 2px solid white;
    font-weight: bold;
    position: relative;
}

.learn-more::before {
    font-family: "Font Awesome 5 Free";
    position: absolute;
    content: "\f054";
    vertical-align: middle;
    font-weight: 900;
    right: -15px;
}

.learn-more:hover {
    top: -10px;
}

.white {
    color: white;
    border-color: white;
}

.create-free-website ul {
    display: flex;
    list-style-type: none;
}

.create-free-website h2 {
    font-size: 115px;
    text-transform: capitalize;
    padding-bottom: 100px;
}

.create-free-website h3 {
    font-size: 22px;
    position: relative;
}

.create-free-website h3::before {
    content: "";
	position: absolute;
	width: 40px;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    padding-top: 20px;
	border-bottom: 2px solid white;
    transform: translateY(25px);
}

.create-free-website ul li {
    flex: 1;
}

.create-free-website ul li div {
    display: inline;
    padding-right: 60px;
}

.create-free-website ol {
    padding-top: 52px;
}

.create-free-website ol li {
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 15px;
}

.create-free-website-padding {
    padding: 100px;
}

footer .wrapper {
    box-sizing: border-box;
}

.function a:hover {
    text-decoration: underline;
}

footer ul {
    text-transform: capitalize;
    list-style-type: none;
}

.list-of-service {
    display: flex;
    justify-content: space-between;
    padding: 100px 130px;
}

.list-of-service .list {
    flex-basis: 200px;
}

footer p {
    text-transform: none;
    padding-bottom: 30px;
    line-height: 1.5;
}

footer p span {
    padding-bottom: 10px;
}

.social-media {
    display: flex;
}

.social-media li {
    margin-right: 40px;
}

footer a {
    color: rgb(70,82,92)
}

.list h3 {
    padding-bottom: 30px;
    text-transform: uppercase;
    font-size: 16px;
    color: rgb(59,80,97);
}

.list h3 a {
    color: rgb(59,80,97);
}

.wix-com {
    position: relative;
    top: -7px;
    transition: transform 2s;
}

.wix-com span {
    color: rgb(70,82,92);
}

.wix-com:hover {
    transform: translateX(20px);
}

.list li, footer p, .support-center, footer a {
    color: rgb(70,82,92);
    font-size: 15px;
}

.list li {
    padding-bottom: 10px;
}

.social-media-handles {
    font-size: 20px;
    color: rgb(70,82,92);
}

.social-media-handles:hover {
    color: rgb(103, 188, 228);
}

.facebook {
    text-indent: -9999px;
    display: block;
    position: relative;
}

.facebook::before {
    font-family: "Font Awesome 5 Brands";
    position: absolute;
    content: "\f39e";
    vertical-align: middle;
    font-weight: 900;
    left: 0px;
    text-indent: 0;
}

.twitter {
    text-indent: -9999px;
    display: block;
    position: relative;
}

.twitter::before {
    font-family: "Font Awesome 5 Brands";
    position: absolute;
    content: "\f099";
    vertical-align: middle;
    font-weight: 900;
    left: 0px;
    text-indent: 0;
}

.google-plus {
    text-indent: -9999px;
    display: block;
    position: relative;
}

.google-plus::before {
    font-family: "Font Awesome 5 Brands";
    position: absolute;
    content: "\f0d5";
    vertical-align: middle;
    font-weight: 900;
    left: 0px;
    text-indent: 0;
}

.youtube {
    text-indent: -9999px;
    display: block;
    position: relative;
}

.youtube::before {
    font-family: "Font Awesome 5 Brands";
    position: absolute;
    content: "\f167";
    vertical-align: middle;
    font-weight: 900;
    left: 0px;
    text-indent: 0;
}

.pininterest {
    text-indent: -9999px;
    display: block;
    position: relative;
}

.pininterest::before {
    font-family: "Font Awesome 5 Brands";
    position: absolute;
    content: "\f231";
    vertical-align: middle;
    font-weight: 900;
    left: 0px;
    text-indent: 0;
}

.instagram {
    text-indent: -9999px;
    display: block;
    position: relative;
}

.instagram::before {
    font-family: "Font Awesome 5 Brands";
    position: absolute;
    content: "\f16d";
    vertical-align: middle;
    font-weight: 900;
    left: 0px;
    text-indent: 0;
}

.linkedin {
    text-indent: -9999px;
    display: block;
    position: relative;
}

.linkedin::before {
    font-family: "Font Awesome 5 Brands";
    position: absolute;
    content: "\f0e1";
    vertical-align: middle;
    font-weight: 900;
    left: 0px;
    text-indent: 0;
}

@media (max-width: 829px) {
    header a {
        font-size: 8px;
    }

    header ul li{
        display: inline-block;
        margin: 0 2px;
    }
    
    .sign-in {
        font-size: 8px;
    }

    .sign-in::before {
        font-family: "Font Awesome 5 Free";
        position: absolute;
        content: "\f0ac";
        vertical-align: middle;
        font-weight: 900;
        left: -17px;
        color: white;
        font-size: 10px;
    }

    .freedom-to-create ul {
        flex-direction: column;
        align-items: center;
    }

    .first-layer {
        flex-direction: column;
        align-items: center;
    }

    .second-layer {
        flex-direction: column;
        align-items: center;
    }

    .second-layer-2 {
        border-left: 2px solid black;
    }

    .design-freedom {
        padding: 150px 49%;
    }

    .powerful-feature ul {
        flex-direction: column;
        align-items: center;
    }
    
    .powerful-feature ul li:nth-child(2) {
        padding-top: 0px;
    }

    .manage-your-business ul {
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 100%;
    }

    .create-free-website ul {
        flex-direction: column;
        align-items: center;
    }

    .create-free-website ul li {
        padding-top: 35px;
    }

    .list-of-service {
        flex-direction: column;
        align-items: center;
    }

    .list-of-service .list {
        padding-top: 20px;
    }

    .manage-your-business h2 {
        font-size: 30px;
    }
    
    .manage-your-business p {
        font-size: 10px;
    }

    .manage-your-business ul li:nth-child(1){
        padding-left: 0;
    }

    .manage-your-business p {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    img {
        width: 100%;
    }
}
